<!DOCTYPE html>

<html>
    <head>
        <title>Logout</title>
        <link rel="stylesheet" href="logout.component.css">
    </head>

    <body class="centered_element">
        <img class="picGeneral" src="../assets/images/logout.png">
        
        <h1 class="header">Logged out...</h1>

        <p>See u!</p>

        <br>
        
        <button id="link_button" (click)="redirectToLogin()">Login again</button>
    </body>
</html>