/* General rules for all elements */
body, body * {
    font-family: Tahoma, sans-serif;
    font-size: 1em;
    color: black;
    max-width: 900px;
    background-color: #f8f9fb;
}

h1.header {
    font-size: 2em;
    font-weight: bold;
}

#link_button {
    border: none;
    color: white !important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 2px 2px;
    cursor: pointer;
    background-color: rgb(169, 169, 169) !important;
    padding: 7px 20px;
}

.centered_element, .centered_element * {
    margin: 0 auto;
    text-align: center;
}

/* Style Pictures */
.picGeneral {
    width: 14%;
    border-radius: 50%;
    margin: 3%;
}
