/* General rules for all elements */
body, body * {
    font-family: Tahoma, sans-serif;
    font-size: 1em;
    color: black;
    max-width: 900px;
    background-color: #f8f9fb;
}

/* General css rules which can't be clearly connected to a specific topic */
dt.defining_element {
    font-weight: bold;
}

h1.header {
    font-size: 2em;
    font-weight: bold;
}

.information_container, .information_container * {
    background-color: white !important;
}

.simple_centered_element {
    margin: 0 auto;
}

/* Style Links */
.link_bar {
    margin-bottom: 2%;
}

a.links {
    color: rgb(0, 81, 255);
    text-decoration: none;
}

a.links:hover {
    color: rgb(202, 0, 202);
    cursor: pointer;
}

a#remove:hover {
    color: red;
}

span#request {
    font-weight:700;
    color: rgb(0, 81, 255);
}


/* Style Profile */
.flex-container {
    display: flex;
    flex-direction: row;
}

#description {
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    width: 55%;
    height: 22%;
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
}

#pic_description {
    margin-right: 5%;
    width: 32%;
    height: 20%;
}

#profilePic {
    width: 100%; 
    height: 100%;
}