<!DOCTYPE html>
<html>
    <head>
        <title>Profile of Platzhalter</title>
        <link rel="stylesheet" href="profile.component.css">
    </head>

    <body class="simple_centered_element">
        <h1 class="header" [textContent]="headerContent"></h1>

        <div class="link_bar">
            <a class="links" (click)="redirectToChat()">&lt; Back to Chat</a> 
            | 
            <a class="links" id="remove" (click)="removeFriend()">Remove Friend</a>
        </div>

        <br>
        
        <div class="flex-container">
            <div id="pic_description">
                <img id="profilePic" src="../assets/images/profile.png" alt="profile picture">
            </div>
            
            <div id="description" class="information_container">

                {{description}}
                
                <br>

                <dl>
                    <dt class="defining_element">Coffe or Tea?</dt>
                    <dd>{{teaOrCoffee}}</dd>
                    <dt class="defining_element">Name</dt>
                    <dd>{{name}}</dd>
                </dl>

            </div>
        </div>     
    </body>
</html>