<!DOCTYPE html>
<html>
    <head>
        <title>Profile Settings</title>
        <link rel="stylesheet" href="settings.component.css">
    </head>

    <body class="simple_centered_element">
        <h1 class="header">Profile Settings</h1>

        <span class="information_container">
            <fieldset id="base_settings" class="input_block">

                <legend>Base Data</legend>

                <span class="centered_element">

                    <div class="input_bar">
                        <span class="input_left_part">
                            <label class="user_information_label_part">First Name</label> 
                        </span>
                        <span class="input_right_part">
                            <input type="text" class="user_input_part" placeholder="Your name" [(ngModel)]="firstName">
                        </span>
                    </div>

                    <div class="input_bar">
                        <span class="input_left_part">
                            <label class="user_information_label_part">Last Name</label> 
                        </span>
                        <span class="input_right_part">
                            <input type="text" class="user_input_part" placeholder="Your surname" [(ngModel)]="lastName">
                        </span>
                    </div>

                    <div class="input_bar">
                        <span class="input_left_part">
                            <label class="user_information_label_part">Coffee or Tea?</label> 
                        </span>
                        <span class="input_right_part">
                            <select class="user_input_part" [(ngModel)]="coffeeOrTea">
                                <option value="1" [selected]="coffeeOrTea == '1'">Coffee</option>
                                <option value="2" [selected]="coffeeOrTea == '2'">Tea</option>
                                <option value="3" [selected]="coffeeOrTea == '3'">Neither nor</option>
                            </select>
                        </span>
                    </div>

                </span>

            </fieldset>
        </span>

        <br>

        <span class="information_container">
            <fieldset id="additional_settings">

                <legend>Tell Something About You</legend>
                <textarea id="settings_textarea" class="user_input_part" placeholder="Leave a comment here" #about="ngModel" [(ngModel)]="description" row="5"></textarea>

            </fieldset>
        </span>

        <br>

        <span class="information_container">
            <fieldset id="chat_settings">

                <legend>Prefered Chat Layout</legend>
                <div class="special_input_bar">
                    <input type="radio" id="oneLineLayout" name="layout" [(ngModel)]="layout" value="1">
                    <label for="oneLineLayout">Username and message in one line</label>
                </div>
                <div class="special_input_bar">
                    <input type="radio" id="seperateLineLayout" name="layout" [(ngModel)]="layout" value="2">
                    <label for="seperateLineLayout">Username and message in seperated lines</label>
                </div>

            </fieldset>
        </span>

        <br>

        <span class="centered_element">
            <div>
                <a [routerLink]="['/friends']">
                    <button class="gray" type="button">Cancel</button>
                </a> 
                <button class="blue" type="submit" (click)="submitSettings()">Save</button>
            </div>
        </span>
    </body>
</html>