/* Css rules used to style the elements depending on a specific screen size */
@media screen and (max-width: 900px) {
    body * {
        max-width: 100%; 
    }

    .input_left_part {
        width: 48.75%;
        display: block;
        box-sizing: border-box;
        text-align: center;
    }

    .input_right_part {
        width: 48.75%;
        display: block;
        box-sizing: border-box;
        text-align: center;
        margin-top: 1%;
        margin-bottom: 1%;
    }

    .input_bar {
        min-height: 60px;
    }

    .picGeneral {
        min-width: 126px;
    }
}

/* General rules for all elements */
body, body * {
    font-family: Tahoma, sans-serif;
    font-size: 1em;
    color: black;
    max-width: 900px;
    background-color: #f8f9fb;
}

/* Class rules which are primarily used in context with div/span in order to style whole blocks */
.centered_element, .centered_element * {
    margin: 0 auto;
    text-align: center;
}

p.errorMsg {
    color: red !important;
}

.simple_centered_element {
    margin: 0 auto;
}

.information_container, .information_container * {
    background-color: white;
}

.input_block {
    padding-top: 1%;
    padding-bottom: 0%;
}

.input_bar, .special_input_bar {
    margin: 1%;
    padding: 0%;
}

.input_left_part {
    width: 48.75%;
    text-align: right;
    display: inline-block;
}

.input_right_part {
    width: 48.75%;
    text-align: left;
    display: inline-block;
}

.user_input_part {
    border: 1px solid darkgray;
    width: 150px;
    position: relative;
    left: 1%;
    box-sizing: border-box;
}

/* General css rules which can't be clearly connected to a specific topic */
dt {
    font-weight: bold;
}

h1 {
    font-size: 2em;
    font-weight: bold;
}

h1#minor_header {
    font-weight: bold;
    font-size: 1.5em;
}

input {
    text-align: left !important;
    outline: none !important;
}

legend {
    margin: initial !important;
    background-color: transparent !important;
}

select {
    font-size: 0.9em;
    text-align: left !important;
    padding: 2px;
}

tr { 
    border: none; 
    margin: 1% 0%; 
} 

td:hover { 
    cursor: pointer 
}

textarea {
    font-size: 0.9em;
}

textarea::placeholder {
    font-size: 1em;
}

::placeholder{
    font-size: 0.9em;
    color: grey;
    text-align: left;
}

/* Style Input Bars */
.input_bar {
    height: 29px;
}

input#message_input, input#add_input {
    border: 1px solid darkgray;
    height: 29px;
    width: 77%;
    margin-top: 1%;
    margin-right: 3%;
    background-color: white;
}

/* Style Buttons */
button, #login_submit, #login_button, #register_button, #register_submit {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 2px 2px;
    cursor: pointer;
}

button.gray, input.gray {
    background-color: rgb(169, 169, 169);
    padding: 7px 25px;
}

button.blue, input.blue {
    background-color:rgb(0, 81, 255);
    padding: 7px 25px;
}

button#add_button, button#message_button {
    background-color: rgb(169, 169, 169);
    padding: 7px 60px;
}

input.friend_request {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 2px 2px;
    cursor: pointer;
    background-color: rgb(169, 169, 169);
    padding: 7px 25px;
}

/* Style Links */
.link_bar {
    margin-bottom: 2%;
}

a {
    color: rgb(0, 81, 255);
    text-decoration: none;
}

a:hover, a:hover > span#request, a:hover > #chat_link_friends{
    color: rgb(202, 0, 202);
}

a#remove:hover {
    color: red;
}

span#request {
    font-weight:700;
}

#chat_link_friends {
    color: black;
    text-decoration: none;
}
#chat_link_friends:hover{
    color: rgb(202, 0, 202);
}

/* Style Pictures */
.picGeneral {
    width: 14%;
    border-radius: 50%;
    margin: 3%;
}

#profilePic {
    width: 100%; 
    height: 100%;
}


/* Style Profile */
.flex-container {
    display: flex;
    flex-direction: row;
}

#description {
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    width: 55%;
    height: 22%;
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
}

#pic_description {
    margin-right: 5%;
    width: 32%;
    height: 20%;
}

/* Style Friends */
#cut_line_friends {
    border-top: 1px dashed; 
    border-bottom: 1px dashed;
    border-color: gray;
}

#cut_line_request {
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: grey;
}

#friends {
    border: solid 1px;
    border-color: darkgray;
    border-radius: 5px;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-right: 2%;
    padding-left: 2%;
}

.number_unread_messages {
    float: right;
    color: white;
    background-color:rgb(0, 81, 255);
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 4px;
    padding-right: 4px;
}


#numeration {
    list-style: none;
    margin: 1%, 0%;
    padding: 0%;
}

li {
    margin-top: 2%;
    margin-bottom: 2%;
}

/* Style Register/Login */
#register_block, #login_block {
    border-style: dotted;
    border-color: darkgray;
    width: 55%;
    margin-top: 2%;
    margin-bottom: 2%;
}

/* Style Settings */
#base_settings, #additional_settings, #chat_settings {
    border-style: dotted;
    border-color: darkgray;
}

#additional_settings {
    padding: 1%;
    height: 200px;
}

#settings_textarea {
    width: 98%;
    height: 98%;
}

/* Style Chat */
#cut_line_chat {
    border-top: 1px dashed; 
    border-bottom: 1px dashed;
    border-color: gray;
}

#chat {
    border: solid 1px;
    border-color: darkgray;
    border-radius: 5px;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-right: 2%;
    padding-left: 2%;
}

p {
    margin: 1%, 0%;
    padding: 0%;
}

.chat_message_time {
    float: right;
    color: lightgray;
}