/* Css rules used to style the elements depending on a specific screen size */
@media screen and (max-width: 900px) {
    body * {
        max-width: 100%; 
    }

    .input_left_part {
        width: 48.75%;
        display: block;
        box-sizing: border-box;
        text-align: center;
    }

    .input_right_part {
        width: 48.75%;
        display: block;
        box-sizing: border-box;
        text-align: center;
        margin-top: 1%;
        margin-bottom: 1%;
    }

    .input_bar {
        min-height: 60px;
    }

    .picGeneral {
        min-width: 126px;
    }
}

/* General rules for all elements */
body, body * {
    font-family: Tahoma, sans-serif;
    font-size: 1em;
    color: black;
    max-width: 900px;
    background-color: #f8f9fb;
}

/* General css rules which can't be clearly connected to a specific topic */
h1.header {
    font-size: 2em;
    font-weight: bold;
}

input {
    text-align: left !important;
    outline: none !important;
}

legend {
    margin: initial !important;
    background-color: transparent !important;
}

::placeholder{
    font-size: 0.9em;
    color: grey;
    text-align: left;
}

/* Class rules which are primarily used in context with div/span in order to style whole blocks */
.centered_element, .centered_element * {
    margin: 0 auto;
    text-align: center;
}

.information_container, .information_container * {
    background-color: white;
}

.input_block {
    padding-top: 1%;
    padding-bottom: 0%;
}

div.input_bar {
    margin: 1%;
    padding: 0%;
}

span.input_left_part {
    width: 48.75%;
    text-align: right;
    display: inline-block;
}

span.input_right_part {
    width: 48.75%;
    text-align: left;
    display: inline-block;
}

input.user_input_part {
    border: 1px solid darkgray;
    width: 150px;
    position: relative;
    left: 1%;
    box-sizing: border-box;
}

/* Style Input Bars */
.input_bar {
    height: 29px;
}

/* Style Buttons */
#login_submit, #login_button {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 2px 2px;
    cursor: pointer;
}

button.gray {
    background-color: rgb(169, 169, 169);
    padding: 7px 25px;
}

button.blue {
    background-color:rgb(0, 81, 255);
    padding: 7px 25px;
}


/* Style Pictures */
.picGeneral {
    width: 14%;
    border-radius: 50%;
    margin: 3%;
}

/* Style Register/Login */
#register_block, #login_block {
    border-style: dotted;
    border-color: darkgray;
    width: 55%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.error_div {
    margin: 5px !important;
}

.error-message{
    color: red !important;
}