<!DOCTYPE html>

<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="login.component.css">
    </head>

    <body class="centered_element">
        <img class="picGeneral" src="../assets/images/chat.png">
        <h1 class="header">Please sign in</h1>

        <div [hidden]="msgLogin" class="error_div">
            <label class="error-message">Authentication failed!</label>
        </div>

        <span class="information_container">
            <fieldset id="login_block" class="input_block">
                <legend>Login</legend>
                    
                <div class="input_bar">
                    <span class="input_left_part">
                        <label for="login_username" class="user_information_label_part">Username</label>
                    </span>
                    <span class="input_right_part">
                        <input name="username" [(ngModel)]="username" id="login_username" type="text" class="user_input_part" autocomplete="off" placeholder="Username" required>
                    </span>  
                </div>

                <div class="input_bar">
                    <span class="input_left_part">
                        <label for="login_password" class="user_information_label_part">Password</label>
                    </span>
                    <span class="input_right_part">
                        <input name="password" [(ngModel)]="pass" id="login_password" type="password" class="user_input_part" autocomplete="off" placeholder="Password" required>
                    </span>
                </div>
            </fieldset>
        </span>

        <div class="button_bar">
            <button id="login_button" class="gray" (click) = "registrieren()">Register</button>
            <button id="login_submit" class="blue" (click) = "login()">Login</button>
        </div>
    </body>
</html>