<!DOCTYPE html>

<html>
    <head>
        <title> Chat </title>
        <link rel="stylesheet" href="chat.component.css"> 
    </head>

    <body class="simple_centered_element">
        <h1 class="left_sided_header"> Chat with {{ currentChatPartner }} </h1>

        <div class="link_bar">
            <a class="links" [routerLink]="['/friends']"> &lt; Back </a>
            |
            <a class="links" [routerLink]="['/profile']"> Profile </a>
            |
            <a id="remove" (click)="removeFriend()"> Remove Friend </a>
        </div>


        <div id="cut_line_chat">

            <span class="information_container">

                <div id="chat" #messagesDiv>
                    <div *ngFor="let message of messages; let nr = index">
                        <p class="chat_message" *ngIf="layoutSetting == '1' || layoutSetting == '' || layoutSetting == null"> {{ message.from }}: {{ message.msg }}
                            <span class="chat_message_time">{{ message.time | date:"dd.MM.yyyy HH:mm:ss"}}</span>
                        </p>
                        <p class="chat_message" class="chat_message_top" *ngIf="layoutSetting == '2'"> {{ message.from }}:
                            <span class="chat_message_time">{{ message.time | date:"dd.MM.yyyy HH:mm:ss"}}</span>
                        </p>
                        <p class="chat_message" class="chat_message_bottom" *ngIf="layoutSetting == '2'"> {{ message.msg }} </p>
                    </div>
                </div>

            </span>

        </div>
        
        <div class="input_bar">
            <input type="text" [(ngModel)]="messageInput" id="message_input" placeholder="New Message" autocomplete="off" (keyup.enter)="sendMessage()">
            <button id="message_button" (click)="sendMessage()"> Send </button>
        </div>
    </body>
</html>