/* General rules for all elements */
body, body * {
    font-family: Tahoma, sans-serif;
    font-size: 1em;
    color: black;
    max-width: 900px;
    background-color: #f8f9fb;
}

/* General css rules which can't be clearly connected to a specific topic */
h1.left_sided_header {
    font-size: 2em;
    font-weight: bold;
}

input {
    text-align: left !important;
    outline: none !important;
}

::placeholder{
    font-size: 0.9em;
    color: grey;
    text-align: left;
}

/* Class rules which are primarily used in context with div/span in order to style whole blocks */

.simple_centered_element {
    margin: 0 auto;
}

.information_container, .information_container * {
    background-color: white;
}

/* Style Input Bars */
.input_bar {
    height: 29px;
}

input#message_input, input#add_input {
    border: 1px solid darkgray;
    height: 29px;
    width: 77%;
    margin-top: 1%;
    margin-right: 3%;
    background-color: white;
}

/* Style Buttons */
button#message_button {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 2px 2px;
    cursor: pointer;
    background-color: rgb(169, 169, 169);
    padding: 7px 60px;
}

/* Aussortieren!! Style Links */
.link_bar {
    margin-bottom: 2%;
}

a.links {
    color: rgb(0, 81, 255);
    text-decoration: none;
}

a#remove {
    color: rgb(0, 81, 255);
    text-decoration: none;
    cursor: pointer;
}

a.links:hover {
    color: rgb(202, 0, 202);
}

a#remove:hover {
    color: red;
}

/* Style Chat */
#cut_line_chat {
    border-top: 1px dashed; 
    border-bottom: 1px dashed;
    border-color: gray;
}

#chat {
    border: solid 1px;
    border-color: darkgray;
    border-radius: 5px;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-right: 2%;
    padding-left: 2%;
    height: 40em;
    overflow-y: scroll;
}

p {
    margin: 1%, 0%;
    padding: 0%;
}

.chat_message_top {
    margin-bottom: 0;
}

.chat_message_bottom {
    text-indent: 20px;
    margin-top: 0;
}

.chat_message_time {
    float: right;
    color: lightgray;
}