/* General rules for all elements */
body, body * {
    font-family: Tahoma, sans-serif;
    font-size: 1em;
    color: black;
    max-width: 900px;
    background-color: #f8f9fb;
}

/* Class rules which are primarily used in context with div/span in order to style whole blocks */
.simple_centered_element {
    margin: 0 auto;
}

.information_container, .information_container * {
    background-color: white;
}

.input_bar {
    margin: 1%;
    padding: 0%;
}

/* General css rules which can't be clearly connected to a specific topic */
h1.left_sided_header {
    font-size: 2em;
    font-weight: bold;
}

h1#minor_header {
    font-weight: bold;
    font-size: 1.5em;
}

input {
    text-align: left !important;
    outline: none !important;
}

::placeholder{
    font-size: 0.9em;
    color: grey;
    text-align: left;
}

/* Style Input Bars */
.input_bar {
    height: 29px;
}

input#message_input, input#add_input {
    border: 1px solid darkgray;
    height: 29px;
    width: 77%;
    margin-top: 1%;
    margin-right: 3%;
    background-color: white;
}

button.interaction_button {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 2px 2px;
    cursor: pointer;
    background-color: rgb(169, 169, 169);
    padding: 7px 30px;
}

/* Style Links */
.link_bar {
    margin-bottom: 2%;
}

a.links {
    color: rgb(0, 81, 255);
    text-decoration: none;
}

a:hover {
    color: rgb(202, 0, 202);
    cursor: pointer;
}

span#request {
    font-weight:700;
    color: black;
}

#chat_link_friends {
    color: black;
    text-decoration: none;
}

/* Style Friends */
#cut_line_friends {
    border-top: 1px dashed; 
    border-bottom: 1px dashed;
    border-color: gray;
}

#cut_line_request {
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: grey;
}

#friends {
    border: solid 1px;
    border-color: darkgray;
    border-radius: 5px;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-right: 2%;
    padding-left: 2%;
}

span.number_unread_messages {
    float: right;
    color: white;
    background-color:rgb(0, 81, 255) !important;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 4px;
    padding-right: 4px;
}


#numeration {
    list-style: none;
    margin: 1%, 0%;
    padding: 0%;
}

li {
    margin-top: 2%;
    margin-bottom: 2%;
}
