<!DOCTYPE html>

<html>
    <head>
        <title>Friends</title>
        <link rel="stylesheet" href="friends.component.css">
    </head>

    <body class="simple_centered_element">
        <h1 class="left_sided_header" [textContent]="headerContent"></h1>

        <div class="link_bar">
            <a class="links" (click)="redirectToLogout()">&lt;Logout</a>
            |
            <a class="links" (click)="redirectToSettings()">Settings</a>
        </div>

        <div id="cut_line_friends">
            
            <span class="information_container">
                <div id="friends">

                    <ul id="numeration">
                        <li *ngFor="let friend of usersFriends">
                            <a id="chat_link_friends" (click)="redirectToChat(friend.username)">{{friend.username}} 
                                <span class="number_unread_messages">{{friend.unreadMessages}}</span>
                            </a>
                        </li>
                    </ul>

                </div>
            </span>
            
        </div>

        <div id="cut_line_request">
            <h1 id="minor_header" class="left_sided_header">New Requests</h1>

            <ol>
                <li *ngFor="let request of usersFriendRequests">
                    <!-- <a id="request_link" class="links">Friend request from <span id="request">{{request}}</span></a>  -->
                    <label>Friend request from <span id="request">{{request}}</span></label>
                    <button class="interaction_button" (click)="acceptRequest(request)">Accept</button>
                    <button class="interaction_button" (click)="declineRequest(request)">Decline</button>
                </li>
            </ol>
        </div>

        <div class="input_bar">
            <input id="add_input" type="text" placeholder="Add Friend to List" [(ngModel)]="requestUsername">
            <button class="interaction_button" (click)="sendRequest()">Add</button>
        </div>
    </body>
</html>