<!DOCTYPE html>

<html>
    <head>
        <title> Register </title>
        <link rel="stylesheet" href="register.component.css">
    </head>

    <body class="centered_element">
        <img class="picGeneral" src="../../assets/images/user.png">

        <h1 class="header"> Register yourself </h1>

        <span class="information_container">
            <fieldset id="register_block" class="input_block">
                <legend id="register_block_name"> Register </legend>

                <div class="input_bar">
                    <span class="input_left_part">
                        <label for="register_username"> Username </label>
                    </span>
                    <span class="input_right_part">
                        <input name="username" [(ngModel)]="username" type="text" id="register_username" class="user_input_part" (keyup)="checkUsername()" autocomplete="off" placeholder="Username">
                    </span>
                </div>

                <div [hidden]="msgUsername" class="error_div">
                    <label class="error-message">{{errorUseMsg}}</label>
                </div>

                <div class="input_bar">
                    <span class="input_left_part">
                        <label for="register_password_one"> Password </label>
                    </span>
                    <span class="input_right_part">
                        <input name="first_password" [(ngModel)]="pass" type="password" id="register_password_one" class="user_input_part" (keyup)="checkPassword()" autocomplete="off" placeholder="Password">
                    </span>
                </div>

                <div [hidden]="msgPassword" class="error_div">
                    <label class="error-message">Password too short (min. 8 characters)</label>
                </div>

                <div class="input_bar">
                    <span class="input_left_part">
                        <label for="register_password_two"> Confirm Password </label>
                    </span>
                    <span class="input_right_part">
                        <input name="second_password" [(ngModel)]="pass2" type="password" id="register_password_two" class="user_input_part" (keyup)="checkPassword2()" autocomplete="off" placeholder="Confirm Password">
                    </span>
                </div>

                <div [hidden]="msgPassword2" class="error_div">
                    <label class="error-message">Passwords do not match</label>
                </div>
            </fieldset>
        </span>

        <div id="button_bar">
            <button id="register_button" class="gray" (click) = "abbrechen()">Cancel</button>
            <button id="register_submit" class="blue" (click) ="createButton()" [disabled] = "!usernameOK || !passwordOK || !password2OK">Create Account</button>
        </div>

    </body>
</html>